<div class="t-pad center">
  <p>In order to use this <a href="https://github.com/Shopify/offsite-gateway-sim/blob/master/README.md">simulator</a>, you must <a href="https://docs.shopify.com/hosted-payment-sdk/adding-gateway">add a hosted payment gateway</a> with <mark>Redirect URL</mark> of <code>https://offsite-gateway-sim.herokuapp.com/</code> to your Partner Dashboard, and activate it in payment settings with,</p>
  <p>
    <span><strong>x_account_id</strong>: <i>(any non-empty value)</i></span>
    <br/>
    <span><strong>HMAC key</strong>: <code><%= key %></code></span>
  </p>
  <p>You can also send capture/refund/void notifications by clicking <a href="notification">here</a></p>
</div>
