<div class="t-pad center">
  <p>In order to use this <a href="https://github.com/Shopify/offsite-gateway-sim/blob/master/README.md">simulator</a>, you must set up <mark>Universal Offset Dev Kit</mark> in your <a href="https://www.shopify.com/login">Shopify store</a> as follows,</p>
  <p>
    <span><strong>x_account_id</strong>: <i>(any non-empty value)</i></span>
    <br/>
    <span><strong>HMAC key</strong>: <code><%= key %></code></span>
    <br/>
    <span><strong>POST URL</strong>: <code>https://offsite-gateway-sim.herokuapp.com/</code> <i>(or leave empty)</i>
  </p>
  <img src="/dev-kit-screenshot.png"/>
</div>